html {
    background: #2e3440;
}

body {
    background: none;
}

a:active, a:focus {
	outline: 0;
	border: none;
	-moz-outline-style: none;
}

.modal-header { border-bottom: none }
.modal-footer { border-top: none }

.alert { text-shadow: none; }

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.video-container video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}


.flip-card {
	background-color: transparent;
	width: 100px;
	height: 100px;
	perspective: 1000px;
  }
  
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: 50%;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  

  .flip-card-back {
	transform: rotateY(180deg);
  }